@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 26.66667px;
}

.h4 {
  font-size: 20px;
}

.grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "itemtop1 itemtop2 itemtop3" "item1 item2 item3" "item4 item5 item3" " item6 item7 item3";
  padding: 20px;
  background: #fcfcfc;
  border-radius: 25px;
}

.grid__container .grid__item {
  color: black;
  border: 2px solid #ebebeb;
  padding: 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
}

.grid__container .grid__item p {
  color: black;
  font-size: 20px;
  line-height: 2;
  font-weight: 300;
}

.grid__container .itemtop1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: itemtop1;
}

.grid__container .itemtop2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: itemtop3;
}

.grid__container .itemtop3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: itemtop3;
}

.grid__container .item1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item1;
}

.grid__container .item2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item2;
}

.grid__container .item3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: item3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__container .item4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item4;
}

.grid__container .item5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: item5;
}

.grid__container .item6 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: item6;
}

.grid__container .item7 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: item7;
}

.info .btn-info {
  border: solid 1px #3fc8e0;
  background: #040404;
  outline: none;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.info .btn-info:hover {
  background: #3fc8e0;
}

.sobremi .sobremi-img {
  height: 200px;
  width: 200px;
  border: solid #3fc8e0;
  margin: 80px auto;
}

.sobremi .sobremi-img:hover {
  border: solid #37aabe;
}

.sobremi__carousel .carousel-inner {
  height: 70vh;
}

.sobremi__carousel .carousel-img {
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria .galeria__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "img1 img2" "img3 img3";
  grid-gap: 50px;
  justify-items: center;
  margin: 50px;
  padding: 30px;
  text-align: center;
}

.galeria .galeria__grid-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.galeria .galeria__grid-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
}

.galeria .galeria__grid-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img3;
}

.galeria .galeria-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  color: #f7f7f7;
  width: 50%;
}

.form__flex input, .form__flex select, .form__flex option, .form__flex textarea {
  background: #f0f0f0;
}

.form__flex label, .form__flex input {
  padding: 10px;
  margin: 5px;
}

.form__flex .check {
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
}

.form__flex select, .form__flex option {
  padding: 10px;
}

.form__flex textarea {
  margin-top: 20px;
}

.form__flex .buttons .btn-borrar {
  border: solid 1px red;
  color: #ececec;
  background: #040404;
  padding: 10px;
  border-radius: 20px;
}

.form__flex .buttons .btn-borrar:hover {
  background: red;
  color: #ececec;
}

.form__flex .buttons .btn-submit {
  border: solid 1px #3fc8e0;
  color: #ececec;
  background: #040404;
  padding: 10px;
  border-radius: 20px;
}

.form__flex .buttons .btn-submit:hover {
  background: #3fc8e0;
  color: #ececec;
}

footer {
  background: #111111;
  border-top: solid rgba(255, 255, 255, 0.178) 1px;
}

footer .footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

footer .footer__ul li {
  list-style: none;
}

footer .footer__ul li a {
  text-decoration: none !important;
  color: white;
  font-weight: 300;
  font-size: 15px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

footer .footer__ul li a:hover {
  cursor: pointer;
  color: #afafaf;
}

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #040404;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ececec;
}

h2 {
  font-size: 35px;
  color: #ececec;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.h2 {
  font-weight: 700;
  font-size: 25px;
}

h3 {
  color: #3fc8e0;
  background: black;
}

h4 {
  font-weight: 700;
  text-transform: uppercase;
  color: #f7f7f7;
  border-bottom: solid 1px rgba(63, 200, 224, 0.774);
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.section__flex {
  margin: 100px auto;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  padding: 0;
  background: #040404;
}

header span {
  color: #ececec;
}

header .logo {
  color: #040404;
  font-size: 18px;
  width: 36px;
  text-align: center;
  border-radius: 100%;
  background: #ececec;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  -webkit-animation: logo-rotate .8s linear;
          animation: logo-rotate .8s linear;
}

header .logo:hover {
  color: #ececec;
  background: #040404;
}

@-webkit-keyframes logo-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header .active-fixed {
  border-bottom: 1px solid #ececec;
  color: #3fc8e0;
}

header a {
  color: white;
  font-weight: 300;
  font-size: 15px;
}

header a:hover {
  color: #3fc8e0;
}

.hero__flex {
  background-image: url("../../media/bgnew2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__flex .container__hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  width: 500px;
  padding: 20px;
}

.hero__flex .container__hero .hero-content h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0;
  color: #d6d6d6;
}

.hero__flex .container__hero .hero-content p {
  margin: 20px 0 20px 0;
}

.hero__flex .container__hero .hero-content .hero__btn {
  width: 30%;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: #ececec;
  border: solid 1px #3fc8e0;
}

.hero__flex .container__hero .hero-content .hero__btn img {
  width: 25px;
}

.hero__flex .container__hero .hero-content .hero__btn:hover {
  background: #34a5b9;
  color: #f3f3f3;
}

.hero__flex .container__hero .hero-image-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.hero__flex .container__hero .hero-image-div .hero-image {
  height: 500px;
}

.hero__btn:hover {
  background: #34a5b9;
  color: #f3f3f3;
}

.section__index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 50px 0 50px 0;
  overflow-x: hidden;
}

.flex__gallery .flex__gallery-info {
  text-align: left;
  padding: 25px;
  margin: 20px;
}

.flex__gallery .flex__gallery-p {
  color: #f7f7f7;
  font-weight: 300;
  margin-top: 15px;
}

.flex__gallery .ruta__img {
  height: 400px;
  width: 500px;
  border-radius: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 10px;
}

.flex__gallery .ruta__img:hover {
  cursor: pointer;
  box-shadow: 6px 3px 12px -2px rgba(215, 215, 215, 0.52);
  -webkit-box-shadow: 6px 3px 12px -2px rgba(215, 215, 215, 0.52);
  -moz-box-shadow: 6px 3px 12px -2px rgba(215, 215, 215, 0.52);
}

.container-cards {
  margin-bottom: 200px;
}

.container-cards .row {
  margin-top: 80px;
}

.container-cards .card-fixed {
  padding: 15px;
  border-radius: 20px;
  margin: 20px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.container-cards .card-fixed h5 span {
  color: #3fc8e0;
}

.container-cards .card:hover {
  box-shadow: 6px 3px 12px -2px rgba(215, 215, 215, 0.52);
  -webkit-box-shadow: 6px 3px 12px -2px rgba(215, 215, 215, 0.52);
  -moz-box-shadow: 6px 3px 12px -2px rgba(215, 215, 215, 0.52);
  cursor: pointer;
}

.container-cards p {
  color: #040404;
  font-weight: 300;
  margin-top: 15px;
}

.container-cards .fas, .container-cards .fa-star {
  color: #f0db22;
  font-size: 22px;
}

.servicios {
  background: #ececec;
}

.servicios .container .row {
  padding: 50px;
}

.servicios .container .row .col-md-12 {
  padding: 20px;
  text-align: left;
}

.servicios .container .row .col-md-12 h4 {
  font-size: 20px;
  font-weight: 700;
  color: #040404;
}

.servicios .container .row .col-md-12 h4 .icon-principal {
  width: 35px;
  margin-right: 10px;
}

.servicios .container .row .col-md-12 p {
  color: #040404;
  font-weight: 300;
  font-size: 18px;
}

.banner__container .banner {
  background-image: url("../../media/bgnew.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.banner__container .banner p {
  font-size: 20px;
}

.banner__container .banner a {
  text-decoration: none;
}

.banner__container .banner a .far, .banner__container .banner a .fa-envelope-open {
  color: #ececec;
  font-size: 40px;
}

.banner__container .banner a .far, .banner__container .banner a .fa-envelope-open:hover {
  color: #cfcfcf;
}

.banner__container .banner:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .container-cards .card-fixed {
    margin: 20px auto;
    width: 60%;
  }
  .container-cards .card-fixed .card-img-top {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 990px) {
  body {
    overflow-x: hidden;
  }
  header .logo {
    font-size: 15px;
    width: 30px;
    border-radius: 100px;
  }
  .hero__flex .container__hero .hero-content {
    max-width: 350px;
    margin: 80px 0 0 -40px;
  }
  .hero__flex .container__hero .hero-content h1 {
    font-size: 1.8rem;
    color: #ececec;
    text-shadow: 0px 1px 9px black;
    padding-right: 20px;
  }
  .hero__flex .container__hero .hero-content p {
    margin-bottom: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    text-shadow: 0px 1px 5px black;
    padding-right: 55px;
  }
  .hero__flex .container__hero .hero-content .hero__btn {
    width: 50%;
    font-size: 18px;
    padding: 10px;
  }
  .hero__flex .container__hero .hero-content .hero__btn img {
    width: 20px;
  }
  .h2 {
    font-size: 28px;
  }
  .flex__gallery .flex__gallery-info {
    text-align: left;
    padding: 25px;
    margin: 20px;
  }
  .flex__gallery .flex__gallery-p {
    color: #f7f7f7;
    font-weight: 300;
    margin-top: 15px;
  }
  .flex__gallery .ruta__img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
  }
  .card {
    margin: 10px auto;
  }
  .servicios .container .row {
    padding: 20px;
  }
  .servicios .container .row .col-md-12 {
    padding: 10px;
    margin: 10px;
  }
  .servicios .container .row .col-md-12 h4 {
    font-size: 0.9rem;
  }
  .servicios .container .row .col-md-12 h4 .icon-principal {
    width: 25px;
  }
  .banner__container .banner {
    height: 80vw;
  }
  .grid__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "itemtop1"    "item1" "item4" "item6" "itemtop2" "item2" "item5" "item7" "itemtop3" "item3";
  }
  .galeria .galeria__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "img1" "img2" "img3";
    grid-gap: 20px;
    justify-items: center;
    margin: 50px;
    padding: 20px;
    text-align: center;
  }
  .carousel-inner {
    height: 30vh;
  }
  .carousel-img {
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .flex__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex__gallery-info {
    text-align: center;
    padding: 25px;
    margin: 20px;
  }
  footer {
    padding: 20px;
  }
  footer .footer__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  form {
    width: 100% !important;
  }
}

@media screen and (max-width: 765px) {
  .container-cards .card-fixed {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */